:root {
  --primary-color: #f7079b;
  --secondary-color: #f5f5f5;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  .primary-link {
    padding: 10px 15px;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .navigation-links a {
    display: block;
    margin-bottom: 10px;
  }
  .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

body {
  margin: 60px auto;
  max-width: 800px;
  background-color: #fafafa;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}
h1 {
  font-weight: 100;
}
h2,
h3 {
  text-align: center;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  text-align: center;
}

img {
  vertical-align: middle;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.text-center {
  text-align: center !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
